<div class='top'>
  ようこそ。ながのCAKEへ！</br>
  このサイトは、ケーキ販売のECサイトになります。</br>
  会員でない方も商品の閲覧はできますが、</br>
  購入には会員登録が必要になります。</br>

  <h2>新着商品</h2>
<% @items.each do |item| %>

<p>商品名<%= item.name %></p>
<p>価格￥<%= item.price %></p>
<p>ジャンル  <%= item.genre.name %></p>
<p>販売ステータス<%= item.is_active %></p>
<%= link_to '詳細',item_path(item) %>
<% end %>

</div>
 <%= link_to '全ての商品を見る＞', items_path %>