<h1>注文履歴一覧</h1>

<p><% @orders.each do |order| %>
注文日<%= order.updated_at %>
購入者<%= order.customer.last_name %> <%= order.customer.first_name %>
注文個数<%= order.order_details.all.sum(:quantity) %>
</p>


<%= link_to"注文詳細", edit_admin_order_path(order) %>
<% end %>

