<h1>注文情報入力</h1>

<%= form_with model:@order, url: public_orders_verification_path, method: :post,local: true do |f| %>
<p>支払方法</p>
<%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
<%= f.label :payment_method,Order.payment_methods_i18n[:credit_card] %>
<%= f.radio_button :payment_method, Order.payment_methods.key(1)  %>
<%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>
<p>お届け先選択</p>
<%= f.radio_button :address_select, "my_address" %>
<%= f.label :address_select, "ご自身の住所" %>
<%= orders.customer.postal_code %>
<%= orders.customer.address %>
<%= orders.customer.last_name %><%= orders.customer.first_name %>
<%= f.radio_button :address_select, "registered_address" %>
<%= f.label :address_select, "登録済みの住所から選択" %>
<%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :full_address) %>
<%= f.radio_button :address_select, "new_address" %>
<%= f.label :address_select, "新しいお届け先" %>

<p>郵便番号<%= f.text_field :postal_code %></p>
<p> 住所　<%= f.text_field :address %></p>
<p>宛名<%= f.text_field :delivery_name %></p>

<%= f.submit'情報確認画面' %>

<% end %>