
<h1>ジャンル一覧・追加</h1>

<%= form_with model: @genre,url: admin_genres_path, local:true do |t| %>
<%= t.text_field :name %>
<%= t.submit'投稿' %>
<% end %>

<table>
 <tr>
  <th>ジャンル名</th>
  <th>  </th>
 </tr>
</table>

<% @genres.each do |genre| %>
<table>
 <tr>

<th><%= genre.name %></th>
<th> <%= link_to "編集", edit_admin_genre_path(genre) %></th>
 </tr>
</table>
<% end %>
