<h1>注文情報確認</h1>

<div class="container">
  <div class="row">
   <div class="col-lg-8" >
<table>
  <tr>
    <th>商品名</th>
    <th>単価（税込）</th>
    <th>数量</th>
    <th>小計</th>
  </tr>
</table>
<% @cart_items.each do |cart_item| %>

<table>
  <tr>
<th></th><%= cart_item.item.name %></th>
<th><%= (cart_item.item.price * 1.1).floor * cart_item.amount %>円</th>
<th><%= cart_item.amount %></th>
<th><%= @sum +=  (cart_item.item.price * 1.1).floor * cart_item.amount %></th>
<% end %>
</tr>
</table>
</div>

   <div class="col-lg-4" >

 <table>
    <tr>
      <th>送料</th>
      <td>800円</td>
      </tr>
      <tr>
      <th>合計金額</th>
      <td><%= @sum %>円</td>
      </tr>
      <tr>
      <th>請求金額</th>
      <td><%= @sum + 800 %>円</td>
</tr>
</table>
</div>
</div>
</div>
支払方法<%= @order.payment_method %></br>
お届け先<%= @order.postal_code %><%= @order.address %></br>

宛名<%= @order.delivery_name %></br>

<%= form_with model:@order,url: public_orders_path, local:true do |t| %>
<%= t.hidden_field :payment_method,value:@order.payment_method %>
<%= t.hidden_field :address,value:@order.address %>
<%= t.hidden_field :postal_code,value:@order.postal_code %>
<%= t.hidden_field :delivery_name,value:@order.delivery_name %>
<%= t.hidden_field :billing_amount,value:@sum + 800 %>
<%= t.submit"注文を確定する" %>
<% end %>

