<h1>商品一覧</h1>
<% @items.each do |item| %>
<%= attachment_image_tag item, :image,:fill, 100, 100, format:'jpg' %>
<p>商品名<%= item.name %></p>
<p>価格￥<%= item.price %></p>
<p>ジャンル  <%= item.genre.name %></p>
<p>販売ステータス<%= item.is_active %></p>
<p><%= link_to '詳細',public_item_path(item) %></p>
<% end %>