<h1>商品詳細</h1><div class="container">
  <div class="row">
   <div class="col-lg-4" >
<%= attachment_image_tag @item,:image, :fill,300,200, format:'jpg' %>
</div>
<div class="col-lg-8" >

<h4><%= @item.name %></h4>
<%= @item.introduction %>
<%= @item.price %>
<%= form_with model:@cart_item, url: public_cart_items_path, method: :post, local: true do |f| %>
<%= f.select :amount, *[1..3] %>
<%= f.hidden_field :item_id,value: @item.id %>
<%= f.submit "カートへ", class: "cart-button" %>
 <% end %>