<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
        <% if public_customer_signed_in? %>
       <h1 class="headline"> <%= image_tag 'パンロゴ.jpg' %></h1>
       <nav> <ul> <li>
      <%= link_to "マイページ", public_customers_path %>
    </li>
        <li>
      <%= link_to "About",about_path %>
    </li>
    <li>
      <%=link_to "商品一覧", public_items_path %>
    </li>
     <li>
      <%= link_to "カート", public_cart_items_path %>
    </li>
      <li>
        <%= link_to "ログアウト", destroy_public_customer_session_path, method: :delete %>
      </li></ul></nav>
      <% elsif admin_signed_in? %>
       <h1 class="headline"><%= image_tag 'パンロゴ.jpg' %></h1>
      <nav><ul> <li>
      <%=link_to "商品一覧", admin_items_path %>
    </li>

     <li>
      <%=link_to "会員一覧", admin_customers_path %>
    </li>
     <li>
      <%=link_to "注文履歴一覧", admin_path %>
    </li>

     <li>
      <%=link_to "ジャンル一覧", admin_genres_path %>
    </li>


     <li>
      <%=link_to "ログアウト",  destroy_admin_session_path, method: :delete %>
    </li></ul></nav>

    <% else %>

    <h1 class="headline"><%= image_tag 'パンロゴ.jpg' %></h1>
    <nav><ul><li>
      <%= link_to "About",about_path %>
    </li>
    <li>
      <%=link_to "商品一覧", public_items_path %>
    </li>
      <li>
        <%= link_to "新規登録", new_public_customer_registration_path	 %>
      </li>
      <li>
        <%= link_to "ログイン", new_public_customer_session_path %>
      </li></ul></nav>
    <% end %>



  </header>


    <%= yield %>

</html>
